.app__nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

.viewcustomer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}